* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: consolas, monospace;
  }
  
  body {
    display: flex;
    justify-content: center;
    background-color: #6dc4ef;
  }
  
.container {
    width: 80%;
    max-width: 30em;
    position: absolute;
    margin-top: 5em;
  }
  
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

h1 {
    font-size: 32px;
    padding: 15px 0;
}

p {
    font-size: 12px;
    padding: 15px 0;
    position: relative;
    bottom: -8px;
}

a {
    text-decoration: none;
    color: black;
    cursor: pointer;
}
  
#new-task {
    border: 5px solid black;
    border-radius: 8px;
    position: relative;
    background: #fff;
    padding: 1.5em;
    display: grid;
    grid-template-columns: 9fr 3fr;
    grid-column-gap: 1em;
}
  
#new-task > input {
    font-size: 16px;
    border: none;
    border-bottom: 1px solid grey;
    padding: 0.5em;
}
  
#new-task > input:focus { /* remove default outline */
    outline: none;
}

#push {
    border: 3px solid black;
    border-radius: 4px;
    background-color: black;
    color: white;
    cursor: pointer;
}

#push::before{
    content: 'Add task';
}

#push:hover {
    background-color: rgb(43, 76, 207);
    color: white;
}
  
#push:active {
    background-color: rgb(34, 54, 134);
}

ul {
    margin-top: 2em;
}
  
ul li {
    background-color: white;
    border-radius: 8px;
    border: 3px solid black;
    list-style: none;
    font-size: 16px;
    padding: 1.5em 0;
    padding-left: 3.5em;
    cursor: pointer;
    position: relative;
    margin-bottom: 0.8em;
}
  
ul li::before {
    content: '';
    position: absolute;
    height: 1.5em;
    width: 1.5em;
    background-image: url(../assets/unchecked.svg);
    background-size: cover;
    background-position: center;
    left: 20px;
    top: 20px;
}
  
ul li.checked {
    color: #555;
    text-decoration: line-through;
}
  
ul li.checked::before {
    background-image: url(../assets/checked.svg);
}
  
ul li span {
    position: absolute;
    right: 10px;
    top: 15px;
    width: 40px;
    height: 40px;
    font-size: 22px;
    color: #555;
    line-height: 40px;
    text-align: center;

}
  
ul li span:hover {
    background-color: lightgrey;
    border-radius: 4px;
}

#mute {
    content: '';
    position: relative;
    height: 4em;
    width: 4em;
    background-color: transparent;
    border: transparent;
    background-size: cover;
    background-position: center;
    background-image: url(../assets/audioOn.svg);
    cursor: pointer;
}

/* .unmute {
    background-image: url(../assets/audioOn.png);
} */


/* for smartphones */
@media only screen and (max-width: 600px) {
    body {
        background-color: #f7b42d;
    }
    
    #new-task > input {
        font-size: 14px;
    }


    ul li {
        font-size: 14px;
    }

    ul li::before{
        top: 18px;
    }

    ul li span {
        top: 8px
    }

    h1 {
        font-size: 24px;
        padding: 5px 0;
    }

    #push::before{
        content: '+';
        font-size: 20px;
    }
}