* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: consolas, monospace;
  }
  
  body {
    display: flex;
    justify-content: center;
    background-color: #A9C9FF;
    background-image: linear-gradient(180deg, #A9C9FF 0%, #FFBBEC 100%); /* got these from https://cssgradient.io/gradient-backgrounds/ */
  }
  
.container {
    width: 80%;
    max-width: 30em;
    position: absolute;
    margin-top: 5em;
  }
  
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

h1 {
    font-size: 32px;
    padding: 15px 0;
}

p {
    font-size: 12px;
    padding: 15px 0;
    position: relative;
    bottom: -8px;
}

a {
    text-decoration: none;
    color: black;
    cursor: pointer;
}
  
#new-task {
    border: 5px solid black;
    border-radius: 8px;
    position: relative;
    background: #fff;
    padding: 1.5em;
    display: grid;
    grid-template-columns: 9fr 3fr;
    grid-column-gap: 1em;
}
  
#new-task > input {
    font-size: 16px;
    border: none;
    border-bottom: 1px solid grey;
    padding: 0.5em;
}
  
#new-task > input:focus { /* remove default outline */
    outline: none;
}
  
#new-task > button {
    border: 3px solid black;
    border-radius: 4px;
    background-color: black;
    color: white;
    cursor: pointer;
}

#new-task > button:hover {
    background-color: rgb(43, 76, 207);
    color: white;
}
  
#new-task > button:active {
    background-color: rgb(34, 54, 134);
}

ul {
    margin-top: 2em;
}
  
ul li {
    background-color: white;
    border-radius: 8px;
    border: 3px solid black;
    list-style: none;
    font-size: 16px;
    padding: 1.5em 0;
    padding-left: 3.5em;
    cursor: pointer;
    position: relative;
    margin-bottom: 0.8em;
}
  
ul li::before {
    content: '';
    position: absolute;
    height: 1.5em;
    width: 1.5em;
    background-image: url(/assets/checkbox.svg);
    background-size: cover;
    background-position: center;
    left: 20px;
    top: 20px;
}
  
ul li.checked {
    color: #555;
    text-decoration: line-through;
}
  
ul li.checked::before {
    background-image: url(/assets/checkbox_active.svg);
}
  
  ul li span {
    position: absolute;
    right: 10px;
    top: 15px;
    width: 40px;
    height: 40px;
    font-size: 22px;
    color: #555;
    line-height: 40px;
    text-align: center;
    
}
  
ul li span:hover {
    background-color: lightgrey;
    border-radius: 4px;
}


/* for smartphones */
@media only screen and (max-width: 600px) {
    body {
        background-color: #FF9A8B;
background-image: linear-gradient(90deg, #FF9A8B 0%, #FF6A88 55%, #FF99AC 100%);

    }

}